.ticket-purchased-list-item {
    border: 1px solid #f5f5f5;
    display: block;
    padding: 5px;
    margin: 0 0 10px 0;
}

.ticket-purchased-list-item .ticket-purchased-event {
    display: table;
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ticket-purchased-list-item .ticket-purchased-event:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.ticket-purchased-event .event__image {
    display: table-cell;
    width: 100px;
    margin: 0;
}

.ticket-purchased-event .event-info {
    display: table-cell;
    width: 100%;
    padding-left: 10px;
    vertical-align: top;
    font-size: 90%;
    line-height: 2.3em;
    color: gray;
}

.ticket-purchased-event .event-info .event__title {
    margin: 0;
    font-size: 1.5em;
    display: block;
    margin-right: 30px;
    font-weight: 300;
    color: black;
}

.ticket-purchased-event .event-info .datetime:after {
    content: '-';
    margin: 0 5px;
}

.ticket-purchased-list-item .ticket-purchased-item {
    border-top: 1px solid #f5f5f5;
    margin-top: 5px;
}

.ticket-purchased-list-item .ticket-purchased-item .ticket-purchased-actions {
    display: table;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.ticket-purchased-actions .action-item {
    display: table-cell;
}

.ticket-purchased-actions .action-item a {
    background: #f5f5f5;
    display: block;
    margin: 5px;
    padding: 5px;
    color: #888;
    border: 1px solid transparent;
}

.ticket-purchased-actions .action-item a:hover {
    background-color: #EEE;
    border-color: #DDD;
}

.tickets-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.tickets-table thead {
    border-bottom: 1px solid #888;
}

.tickets-table th {
    font-size: 9px;
    text-transform: uppercase;
    vertical-align: top;
    padding: 5px;
    color: black;
    font-weight: 600;
}

.tickets-table td {
    padding: 10px;
    text-align: center;
}

.ticket__row {
    border-bottom: 1px solid #DDD;
}

.ticket__row:last-child {
    border-bottom: none;
}

.ticket__row:hover {
    background-color: #FAFAFA;
}

.ticket__row .column__location {
    text-align: left;
}

.ticket__row .column__location .ticket__name {
    font-weight: bold;
}

.ticket__row .column__location .ticket__location {
    display: block;
}

.ticket__row .column__location .ticket__location .seat {
    display: block;
    font-size: 12px;
}

.ticket__row .column__action .button__ticket-purchased-buy {
    border-radius: 0;
    background-color: #80C500;
    background-image: none;
    border: none;
    color: #ffffff;
    font-size: 100%;
    padding: 3px 8px;
    transition: all 0.2s ease-out;
    text-shadow: none;
    white-space: nowrap;
}
