$border-color: rgb(245, 245, 245);
$border-thickness: 1px;
$minimum-padding: 5px;
$minimum-margin: 5px;

.tickets-purchased-list .card-ticket-purchased {
    border: $border-thickness solid #f5f5f5;
    display: block;
    padding: $minimum-padding;
    margin: 0 0 $minimum-margin*2 0;
}