@import "~lin3s-css-grid/scss/variables";

.search-box {
  box-sizing: border-box;
  height: 30px;
  margin: 20px 0 50px 0;
  width: 100%;
  position: relative;

  & .search-box__input {
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
    display: inline-block;
    font-size: 15px;
    height: 48px;
    overflow: hidden;
    padding-left: 15px;
    text-overflow: ellipsis;
    transition: all 0.2s ease-out;
    width: 85%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  & .search-box__button {
    transition: all 0.2s ease-out;
    position: absolute;
    padding-right: 20px;
    height: 48px;
    font-size: 1.5em;
    width: 15%;
    top: 0;
    right: 0;
    padding-left: 15px;
    background: none;
    border: 0;
    background-color: #0F82F5;
    color: white;
  }

  & .search-box__button-label {
    display: none;
  }

  @media #{$large-up} {
    & .search-box__button-label {
      display: inline;
    }
  }
}