@import "~lin3s-css-grid/scss/variables";

$minimum-margin: 5px;
$minimum-padding: 5px;
$color-button: rgb(136, 136, 136);
$background-color-button: rgb(245, 245, 245);
$background-color-button-on-hover: rgb(238, 238, 238);
$border-color-button-on-hover: rgb(221, 221, 221);

.card-ticket-purchased__actions {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0px;
    width: 100%;
    text-align: center;
    padding: 0;
    border-top: 1px solid rgb(245, 245, 245);
    margin: $minimum-margin 0 0;
}

@media #{$medium-up} {
    .card-ticket-purchased__actions {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 0px;
        list-style: none;
    }
}

.card-ticket-purchased__button {
    display: table-cell;
    & a {
        background: $background-color-button;
        display: block;
        margin: $minimum-margin;
        padding: $minimum-padding;
        color: $color-button;
        border: 1px solid transparent;

        &:hover {
            background-color: $background-color-button-on-hover;
            border-color: $border-color-button-on-hover;
            cursor: pointer;
        }
    }
}