$width: 100%;

.events-list .event-card__item {
  position: relative;
  width: $width;
  display: block;
  box-sizing: border-box;

  & .event-card__thumb .event-card__image {
    width: $width;
  }
}
