$background-color: rgb(255, 255, 255);
$background-color-on-hover: rgba(0, 0, 0, 0.2);
$z-index: 1;
$minimum-padding: 5px;

.search-box__dropdown-content {
    position: absolute;
    z-index: $z-index;
    list-style-type: none;
    background-color: $background-color;
    display: block;
    margin: 0px;
    padding: 0px;
    left: 0;
    right: 0;
    & li {
        box-sizing: border-box;
        display: list-item;
        line-height: 26px;
        padding: $minimum-padding*2;

        &:hover {
            background: $background-color-on-hover;
        }
    }

}