.dropdown-content {
    position: absolute;
    z-index: 1;
    list-style-type: none;
    background-color: #ffffff;
    display: block;
    margin: 0px;
    padding: 0px;
    left: 0;
    right: 0;
}

.dropdown-content li {
    box-sizing: border-box;
    display: list-item;
    line-height: 26px;
    padding: 12px;
}

.dropdown-content li:hover {
    background: rgba(0, 0, 0, 0.2);
}