$minimum-margin: 5px;
$minimum-padding: 5px;
$border-radius: 5px;

.events-list .event-card {
  float: left;
  border-radius: $border-radius;
  padding: $minimum-padding*4;
  font-size: 150%;

  & .event-card__details {
    margin-left: $minimum-margin;
    padding-top: $minimum-padding;
    font-size: 12px;
    line-height: 20px;

    & i {
      padding-right: $minimum-padding*2;
    }
  }

  & .event-card__actions {
    overflow: hidden;
    text-align: right;
    margin-bottom: $minimum-margin;
    margin-top: $minimum-margin;
  }

  & .event-card__venue {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}