.event-list-item {
    width: 24%;
    float: left;
    margin: .5%;
}

.events-list .event__details {
    margin-left: 5px;
    padding-top: 5px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    & .event__actions {
        overflow: hidden;
        text-align: right;
        margin-bottom: 5px;
        margin-top: 5px;
        & .event-buy-button {
            border-radius: 0;
            background-color: #80C500;
            background-image: none;
            border: none;
            color: #ffffff;
            font-size: 100%;
            padding: 3px 8px;
            transition: all 0.2s ease-out;
            text-shadow: none;
            white-space: nowrap;

            &:hover {
                background-color: #379f15;
            }
        }
    }
}