.ticket-purchased-list-item .ticket-purchased-item .ticket-purchased-actions {
    display: table;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;

    & .action-item {
        display: table-cell;
        & a {
            background: #f5f5f5;
            display: block;
            margin: 5px;
            padding: 5px;
            color: #888;
            border: 1px solid transparent;

            &:hover {
                background-color: #EEE;
                border-color: #DDD;
            }
        }
    }
}