$minimum-padding: 5px;
$border-radius: 0;

.card_button {
  border-radius: $border-radius;
  background-image: none;
  border: none;
  font-size: 100%;
  padding: $minimum-padding $minimum-padding*2;
  transition: all 0.2s ease-out;
  white-space: nowrap;

  &--ticket-buy {
    background-color: #80C500;
    color: #ffffff;
  }
}