$minimum-margin: 5px;
$link-color: rgb(0, 0, 0);
$link-color-hover: rgb(0, 168, 255);

.footer-bar__list .footer-bar-list-item {
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    float: left;
    line-height: 1.5em;
    margin-right: $minimum-margin*2;

    & a {
      color: $link-color;
      text-decoration: none;

      & i {
        margin-right: $minimum-margin;
      }

      &:hover {
        color: $link-color-hover;
      }
    }
  }

  &.separated li {
    margin-right: $minimum-margin;

    & + li:before {
      content: "|";
      margin-right: $minimum-margin;
    }
  }
}