$minimum-margin: 5px;
$minimum-padding: 5px;

.card-ticket-purchased {

  & .card-ticket-purchased__image {
    display: table-cell;
    width: 100px;
    margin: 0;
  }

  & .card-ticket-purchased__event {
    display: table;
    width: 100%;
    padding: $minimum-padding;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &--disabled {
      opacity: 0.35;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  & .card-ticket-purchased__info {
    display: table-cell;
    width: 100%;
    padding-left: $minimum-padding*2;
    vertical-align: top;
    font-size: 90%;
    line-height: 2.3em;
    color: gray;
  }
  & .card-ticket-purchased__title {
    font-size: 1.5em;
    display: block;
    margin: 0 $minimum-margin*6 0 0;
    font-weight: 300;
    color: black;
  }
}