$background-color-on-hover: rgb(250, 250, 250);

.ticket__row {
  border-bottom: 1px solid #DDD;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $background-color-on-hover;
  }

  & .column__location {
    text-align: left;

    & .ticket__name {
      font-weight: bold;
    }

    & .ticket__location {
      display: block;

      & .seat {
        display: block;
        font-size: 12px;
      }
    }
  }
}