$max-width: 1170px;
$width: 95%;
$padding-horizontal: 0;
$margin: 0;

footer .footer-bar__container {
  width: $width;
  margin: $margin auto;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  max-width: $max-width;
}