$minimum-padding: 5px;
$th-color: black;
$thead-color: rgb(136, 136, 136);
$thead-thickness: 1px;

.tickets-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    & thead {
        border-bottom: $thead-thickness solid $thead-color;
    }

    & th {
        font-size: 9px;
        text-transform: uppercase;
        vertical-align: top;
        padding: $minimum-padding;
        color: $th-color;
        font-weight: 600;
    }

    & td {
        padding: $minimum-padding*2;
        text-align: center;
    }
}