$height: 50px;
$minimum-padding: 5px;
$background-color-on-hover: rgb(221, 221, 221);

.header-bar__menu {
  position: relative;
  list-style-type: none;
  font-size: 12px;
  z-index: 100;
  height: $height;
  margin: 0px;
  float: right;

  & li {
    float: left;
    position: relative;
    height: $height;
    line-height: $height;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: $background-color-on-hover;
    }

    & a {
      color: #000000;
      padding: 0px $minimum-padding*2;
      display: block;
      text-decoration: none;
    }
  }
}
